<launch>
  <arg name="/demos_path" />
  <arg name="/display_config" />
  <arg name="/similarity_th" />
  <arg name="/rank_num" />
  <arg name="/exist_voxel_num_threshold" />
  <arg name="/pca" />
  <arg name="/r_dim" />
  <arg name="/size1" />
  <arg name="/size2" />
  <arg name="/size3" />
  <arg name="/distance_th" />
  <arg name="/input" default="/camera/rgb/points" />
  <node pkg="rviz" type="rviz" name="rviz1" args="-d $(arg /display_config)" />
  <node pkg="color_voxel_recognition" type="detect_object" name="detect_object1" output="screen" args="$(arg /demos_path) $(arg /rank_num) $(arg /exist_voxel_num_threshold) $(arg /pca) $(arg /r_dim) $(arg /size1) $(arg /size2) $(arg /size3) $(arg /similarity_th) $(arg /distance_th) /input:=$(arg /input)" />
</launch>